# Open Images Dataset

*This notebook is to download images from the Open Images dataset.*

In [1]:
import os
import requests
import json
import pandas as pd

pd.set_option('display.max_colwidth', None)

## 1. Get image URLs

In [2]:
images = pd.read_csv("https://storage.googleapis.com/openimages/v6/oidv6-train-images-with-labels-with-rotation.csv")

images = images[["ImageID", "OriginalURL"]]
images.columns = ["image_id", "image_url"]

images

,image_id,image_url
0,4fa8054781a4c382,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg
1,d05c3e451f79174d,https://c6.staticflickr.com/8/7375/13791738583_ceb93ee070_o.jpg
2,5bde9ad21e82deed,https://c6.staticflickr.com/1/223/495658260_8947fc0be8_o.jpg
3,b37f763ae67d0888,https://c1.staticflickr.com/1/67/197493648_628a7cb2ee_o.jpg
4,3231e75bd7120b7a,https://c3.staticflickr.com/4/3654/3619297168_9d7ec37be3_o.jpg
...,...,...
7337072,319fbd7d6fad9993,https://farm4.staticflickr.com/8663/16074403674_becd15c9a4_o.jpg
7337073,318b6e4322650cf3,https://farm4.staticflickr.com/4080/4803266278_b98b6eefed_o.jpg
7337074,757bac4b7c064925,https://farm6.staticflickr.com/3835/15022727040_f6b680d8bc_o.jpg
7337075,8a23c798ea665d15,https://farm6.staticflickr.com/7180/6973157007_6d633ffef3_o.jpg
7337076,90d0031f89de28ee,https://c7.staticflickr.com/1/23/27246359_825538fa3e_o.jpg

In [3]:
labels = pd.read_csv("https://storage.googleapis.com/openimages/v7/oidv7-train-annotations-human-imagelabels.csv")

labels.columns = ["image_id", "source", "label_id", "confidence"]
labels = labels.loc[
    labels["confidence"] == 1,  # keep only human verified labels
    ["image_id", "label_id"]
]

labels

                  image_id    label_id
5         000002b66c9c498e   /m/011xdj
11        000002b66c9c498e    /m/012mj
15        000002b66c9c498e   /m/012yh1
27        000002b66c9c498e   /m/014sv8
31        000002b66c9c498e   /m/015c4z
...                    ...         ...
58783029  fffffdaec951185d   /m/01g317
58783030  fffffdaec951185d   /m/01xyhv
58783031  fffffdaec951185d  /m/03bt1vf
58783032  fffffdaec951185d    /m/09j2d
58783033  fffffdaec951185d    /m/0dzct

[21144175 rows x 2 columns]

In [4]:
label_names = pd.read_csv("https://storage.googleapis.com/openimages/v7/oidv7-class-descriptions.csv")

label_names.columns = ["label_id", "label_name"]

label_names

         label_id          label_name
0       /m/0c4936              'Nduja
1      /m/06w6y06             10 cane
2       /m/079zcf  100 metres hurdles
3      /m/02pv3hz             100plus
4       /m/0bb154  110 metres hurdles
...           ...                 ...
20926  /m/05_5x82         Škoda rapid
20927   /m/0d96wb      Škoda roomster
20928   /m/03vql3        Škoda superb
20929  /m/05_5ppm          Škoda yeti
20930   /m/02sjdf            Żubrówka

[20931 rows x 2 columns]

### Merges

In [5]:
labels = pd.merge(
    labels,
    label_names,
    on="label_id",
    how="inner"
)

images = pd.merge(
    images,
    labels,
    on="image_id",
    how="inner"
)

images = images[["image_url", "label_name"]]
# images = images.drop_duplicates(subset=["image_url"])

images

,image_url,label_name
0,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg,Adult
1,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg,Lighting
2,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg,Person
3,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg,Event
4,https://farm3.staticflickr.com/5310/5898076654_51085e157c_o.jpg,Temple (Body Part)
...,...,...
21144170,https://farm6.staticflickr.com/7180/6973157007_6d633ffef3_o.jpg,Dance
21144171,https://c7.staticflickr.com/1/23/27246359_825538fa3e_o.jpg,Sky
21144172,https://c7.staticflickr.com/1/23/27246359_825538fa3e_o.jpg,Boat
21144173,https://c7.staticflickr.com/1/23/27246359_825538fa3e_o.jpg,Lake
21144174,https://c7.staticflickr.com/1/23/27246359_825538fa3e_o.jpg,Ship

In [6]:
images.to_csv("open_images.csv", index=False)

## 2. Download images

In [7]:
images = pd.read_csv("open_images.csv")

In [8]:
def download_image(image_url, image_name, destination):
    response = requests.get(image_url, headers={'User-Agent': 'Mozilla/5.0'}, timeout=3)
    with open(destination + image_name, 'wb') as f:
        f.write(response.content)

In [9]:
def download_images_with_label(label, limit, destination):
    selected_images = images[images["label_name"] == label]
    print(f"- {label}: {len(selected_images)} images found", end=" - ")
    if len(selected_images) > limit:
        selected_images = selected_images.sample(limit)
    image_idx = 0
    for image_url in selected_images["image_url"]:
        try:
            download_image(image_url, f"{label}_{image_idx}.jpg", destination)
            image_idx += 1
        except:
            pass
    print(f"{image_idx} images downloaded.")

In [10]:
with open("keywords/open_images_labels.json") as f:
    keywords = json.load(f)

print(f"Number of classes: {len(keywords)}")
print(f"Number of search keywords: {len([search for category in keywords.values() for search in category])}")

Number of classes: 30
Number of search keywords: 92

In [11]:
# Very long!
for category in keywords:
    
    print(f"\n¤ ¤ ¤ ¤ ¤ Class {category} ¤ ¤ ¤ ¤ ¤")
    
    # Creates category folder
    category_path = f"../../data/open_images/{category}/"
    if not os.path.exists(category_path):
        os.makedirs(category_path)
    
    for keyword in keywords[category]:
        download_images_with_label(
            label=keyword,
            limit=2000,
            destination=category_path
        )

¤ ¤ ¤ ¤ ¤ Class art ¤ ¤ ¤ ¤ ¤
- Art exhibition: 469 images found - 464 images downloaded.
- Paint tools: 134 images found - 132 images downloaded.

¤ ¤ ¤ ¤ ¤ Class barbecue ¤ ¤ ¤ ¤ ¤
- Barbecue: 612 images found - 607 images downloaded.
- Barbecue grill: 534 images found - 528 images downloaded.

¤ ¤ ¤ ¤ ¤ Class bathroom ¤ ¤ ¤ ¤ ¤
- Bathroom: 14598 images found - 1990 images downloaded.
- Bathroom accessory: 878 images found - 872 images downloaded.
- Bathroom sink: 465 images found - 457 images downloaded.
- Shower: 2482 images found - 1986 images downloaded.

¤ ¤ ¤ ¤ ¤ Class beach ¤ ¤ ¤ ¤ ¤
- Beach: 241473 images found - 1987 images downloaded.
- Beach towel: 109 images found - 109 images downloaded.

¤ ¤ ¤ ¤ ¤ Class bedroom ¤ ¤ ¤ ¤ ¤
- Bed: 4417 images found - 1986 images downloaded.
- Bedroom: 691 images found - 688 images downloaded.
- Sleep: 538 images found - 537 images downloaded.

¤ ¤ ¤ ¤ ¤ Class beer ¤ ¤ ¤ ¤ ¤
- Beer: 7917 images found - 1990 images downloaded.
- Beer glass: 791 images found - 786 images downloaded.
- Beer bottle: 625 images found - 623 images downloaded.

¤ ¤ ¤ ¤ ¤ Class board_games ¤ ¤ ¤ ¤ ¤
- Board game: 837 images found - 832 images downloaded.
- Card game: 407 images found - 404 images downloaded.

¤ ¤ ¤ ¤ ¤ Class cleaning ¤ ¤ ¤ ¤ ¤
- Cleanliness: 766 images found - 760 images downloaded.
- Household cleaning supply: 205 images found - 204 images downloaded.
- Vacuum cleaner: 176 images found - 175 images downloaded.
- Cleaner: 160 images found - 159 images downloaded.

¤ ¤ ¤ ¤ ¤ Class coffee ¤ ¤ ¤ ¤ ¤
- Coffee cup: 4355 images found - 1989 images downloaded.
- Coffee (drink): 2394 images found - 1987 images downloaded.
- Tea: 1341 images found - 1331 images downloaded.
- Drip coffee maker: 134 images found - 132 images downloaded.

¤ ¤ ¤ ¤ ¤ Class cooking ¤ ¤ ¤ ¤ ¤
- Cooking: 966 images found - 957 images downloaded.
- Cookware and bakeware: 614 images found - 612 images downloaded.
- Cook: 556 images found - 554 images downloaded.
- Kitchen appliance: 2338 images found - 1988 images downloaded.
- Kitchen utensil: 1680 images found - 1670 images downloaded.
- Kitchen: 1311 images found - 1304 images downloaded.
- Kitchen stove: 585 images found - 580 images downloaded.
- Kitchenware: 202 images found - 200 images downloaded.
- Refrigerator: 1213 images found - 1207 images downloaded.

¤ ¤ ¤ ¤ ¤ Class flight ¤ ¤ ¤ ¤ ¤
- Airplane: 2383 images found - 1985 images downloaded.
- Airport: 721 images found - 718 images downloaded.

¤ ¤ ¤ ¤ ¤ Class france ¤ ¤ ¤ ¤ ¤
- Bread: 2561 images found - 1985 images downloaded.
- Bakery: 608 images found - 603 images downloaded.

¤ ¤ ¤ ¤ ¤ Class garden ¤ ¤ ¤ ¤ ¤
- Garden: 918 images found - 911 images downloaded.
- Botanical garden: 564 images found - 563 images downloaded.
- Gardening: 321 images found - 319 images downloaded.
- Gardener: 281 images found - 278 images downloaded.

¤ ¤ ¤ ¤ ¤ Class gym ¤ ¤ ¤ ¤ ¤
- Gym: 487 images found - 485 images downloaded.
- Strength training: 551 images found - 546 images downloaded.
- Weight training: 268 images found - 264 images downloaded.
- Bodybuilding: 392 images found - 391 images downloaded.
- Weights: 418 images found - 414 images downloaded.

¤ ¤ ¤ ¤ ¤ Class hot ¤ ¤ ¤ ¤ ¤
- Sex toy: 23 images found - 23 images downloaded.

¤ ¤ ¤ ¤ ¤ Class italy ¤ ¤ ¤ ¤ ¤
- Pizza: 1991 images found - 1980 images downloaded.
- Pasta: 1051 images found - 1043 images downloaded.

¤ ¤ ¤ ¤ ¤ Class japan ¤ ¤ ¤ ¤ ¤
- Sushi: 1185 images found - 1178 images downloaded.
- Japanese architecture: 582 images found - 579 images downloaded.

¤ ¤ ¤ ¤ ¤ Class metro ¤ ¤ ¤ ¤ ¤
- Metro: 470 images found - 467 images downloaded.
- Metro station: 417 images found - 413 images downloaded.
- Bus: 44458 images found - 1989 images downloaded.

¤ ¤ ¤ ¤ ¤ Class movie ¤ ¤ ¤ ¤ ¤
- Movie: 325 images found - 323 images downloaded.
- Movie theater: 137 images found - 136 images downloaded.

¤ ¤ ¤ ¤ ¤ Class nature ¤ ¤ ¤ ¤ ¤
- Nature: 1635 images found - 1624 images downloaded.
- Hiking: 64296 images found - 1982 images downloaded.
- Hiking equipment: 3256 images found - 1987 images downloaded.
- Forest: 3034 images found - 1989 images downloaded.

¤ ¤ ¤ ¤ ¤ Class party ¤ ¤ ¤ ¤ ¤
- Party: 598 images found - 593 images downloaded.
- Alcoholic beverage: 1147 images found - 1137 images downloaded.
- Alcohol: 843 images found - 837 images downloaded.
- Bar: 766 images found - 757 images downloaded.

¤ ¤ ¤ ¤ ¤ Class piano ¤ ¤ ¤ ¤ ¤
- Piano: 12320 images found - 1986 images downloaded.
- Sheet music: 357 images found - 354 images downloaded.

¤ ¤ ¤ ¤ ¤ Class pool ¤ ¤ ¤ ¤ ¤
- Swimming pool: 5122 images found - 1988 images downloaded.
- Swimming: 33876 images found - 1983 images downloaded.
- Swimwear: 3773 images found - 1987 images downloaded.

¤ ¤ ¤ ¤ ¤ Class rainy ¤ ¤ ¤ ¤ ¤
- Rain: 520 images found - 514 images downloaded.

¤ ¤ ¤ ¤ ¤ Class reading ¤ ¤ ¤ ¤ ¤
- Book: 74809 images found - 1988 images downloaded.
- E-book readers: 337 images found - 336 images downloaded.
- Library: 539 images found - 535 images downloaded.
- Magazine: 620 images found - 618 images downloaded.

¤ ¤ ¤ ¤ ¤ Class running ¤ ¤ ¤ ¤ ¤
- Long-distance running: 1286 images found - 1274 images downloaded.
- Running: 1150 images found - 1141 images downloaded.
- Jogging: 351 images found - 348 images downloaded.
- Running shoe: 518 images found - 514 images downloaded.

¤ ¤ ¤ ¤ ¤ Class sport ¤ ¤ ¤ ¤ ¤
- Sports equipment: 41369 images found - 1980 images downloaded.
- Sports: 1001 images found - 997 images downloaded.

¤ ¤ ¤ ¤ ¤ Class train ¤ ¤ ¤ ¤ ¤
- Train: 53673 images found - 1983 images downloaded.
- Train station: 669 images found - 663 images downloaded.

¤ ¤ ¤ ¤ ¤ Class traveling ¤ ¤ ¤ ¤ ¤
- Travel: 1261 images found - 1256 images downloaded.
- Luggage and bags: 2689 images found - 1983 images downloaded.
- packing bags: 0 images found - 0 images downloaded.

¤ ¤ ¤ ¤ ¤ Class working ¤ ¤ ¤ ¤ ¤
- Job: 1163 images found - 1154 images downloaded.
- Office supplies: 2570 images found - 1984 images downloaded.
- Office equipment: 1070 images found - 1064 images downloaded.
- White-collar worker: 883 images found - 872 images downloaded.
- Computer: 119034 images found - 1987 images downloaded.